$outline-ref-value: \9;
$image-switch: '../img/switch.png';
$focus-color: rgba(82, 168, 236, 0.6);
$hover-color: #fff;
$hover-bg-color: #08c;
$shadow-color: rgba(0, 0, 0, 0.075);
$optgroup-label-color: #999;
$disabled-bg-color: #eee;
$disabled-color: #aaa;
$list-color: #555555;
$list-bg-color: #fff;
$list-border-color: #ccc;
$list-height: 200px;
$list-radius: 3px;
$list-width: 45%;
$optgroup-padding: 5px;
$container-width: 370px;